@font-face {
	font-family: "terminator";
	src: url("fonts/terminator_real_nfi.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html,
body {
	font-family: "terminator";
	margin: 0;
	padding: 0;
}


.hidden {
	display: none;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.video-container {
	position: relative;
	height: 100%;
	display: flex;
}

#canvas {
	position: absolute;
}

.video-preloader {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	border-left: 3px solid red;
	animation: preloader 1s infinite ease;
}

@keyframes preloader {
	0%   {
		transform: rotate(90deg);
	}
	25%  {
		transform: rotate(180deg);
	}
	50%  {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

video {
	border: 1px solid red;
}

video,
canvas{
	width: 100%;
	height: 100%;
}


.grayscale {
	filter: url(#myFilter4);
}
.sepia {
	+filter: sepia(1);
}
.blur {
	+filter: blur(3px);
}

.contorls {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.controls__button {
	margin-right: 20px;
	padding: 5px 15px;
	text-align: center;
	border: 2px solid red;
	cursor: pointer;
}

.controls__button:hover {
	background: red;
	color: #ffffff;
	transition: All .1s ease;
}


.video-interface {
	font-family: 'arial';
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 40px;
	font-size: 14px;
	background: red;
}

/*.video-interface > div,
.video-interface svg {
	height: 100%;
	width: 100%;
}*/

.video-interface__title {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid;
}

.video-interface__item {
	margin-bottom: 20px;
}

svg text {

	fill: white;
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

svg.noise text {
	filter: url(#filter);
}