@font-face {
    font-family: "terminator";
    src: url("../../fonts/terminator_real_nfi.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    font-family: "terminator";
    margin: 0;
    padding: 0;
}


.hidden {
    display: none !important;
}

